<form action="/search" method="get">
  <input type="text" name="q" value="<%= params['q'] %>">
  <input type="button" name="search" value="Search">
</form>

<ul>
  <% @messages.each do |message| %>
    <li><%= message.subject %></li>
  <% end %>
</ul>
<% if @next_page_token %>
  <a href="/search?<%= params['q'] %>&page_token=<%= @next_page_token %>">Next page</a>
<% end %>
<p>Total messages: <%= @total_messages %></p>
